<!DOCTYPE html>
<html lang="en" {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
    <div class="cursor">
      <div class="inner-circle"></div>
    </div>
    <script>
      document.addEventListener("mousemove", function(event) {
        move(event);
      });
      function move(event) {
        document.querySelector(".cursor").style.top = (event.clientY - 15) + 'px'
        document.querySelector(".cursor").style.left = (event.clientX - 15) + 'px'
      }

      let target = document.querySelectorAll(".cursor-active");
      for (var i = 0 ; i < target.length; i++) {
        target[i].addEventListener("mouseover", mOver, false);
        target[i].addEventListener("mouseout", mOut, false);
      }
      function mOver() {
        document.querySelector(".cursor").classList.add('cursor-working')
      }

      function mOut() {
        document.querySelector(".cursor").classList.remove('cursor-working')
      }
    </script>
  </body>
</html>