<template>
  <div class="JoinPVPMatchTable">
    <h1>{{name}}</h1>
    <PopupsSubmitResults :playerName="submitResultsPlayer" v-if="name == 'Active Matches'" v-show="showModal" @close-modal="showModal = false"/>
    <div class="table" :style="paginate().pages.length <= 1 ? 'padding-bottom: 15px;' : ''">
      <div v-for="item in events.slice((this.currentPage * this.pageSize) - this.pageSize, this.currentPage * this.pageSize)" :key="item.id" class="item">

        <div class="bottom-row">

          <div class="match-info">
            <div class="column player" :style="item.waiting ? 'calc(33% - (275px - 180px - 34px))' : ''">
              <p class="title">Player</p>
              <p class="entry">{{item.player}}</p>
            </div>

            <div class="column prize" :style="item.waiting ? 'calc(33% - (275px - 180px - 34px))' : ''">
              <p class="title">Prize</p>
              <p class="entry">{{item.prize.amount}} {{item.prize.currency}}</p>
            </div>

            <div class="column fee" :style="item.waiting ? 'width: calc(33% - (275px - 180px - 34px));' : ''">
              <p class="title">Entry Fee</p>
              <p class="entry">{{item.fee.amount}} {{item.fee.currency}}</p>
            </div>
          </div>

          <div class="submitResults" v-if="item.isActive">
            <div class="chat cursor-active">
              <img src="@/assets/images/chat-black.svg" />
            </div>
            <div class="btn cursor-active" @click="submitResultsPlayer = item.player, showModal = true">
              Submit Results
            </div>
          </div>

          <div class="waiting" v-else-if="item.waiting">
            Waiting for your Opponent
          </div>

          <div class="watchLive cursor-active" v-else-if="item.isDispute">
            Dispute
          </div>

          <a :href="item.link" class="watchLive cursor-active" v-else>
            Play Now
          </a>
        </div>

      </div>
      <div class="pagination" v-if="paginate().pages.length > 1">
        <p>Showing {{this.paginate().startIndex + 1}}-{{currentPage * (pageSize > events.length ? events.length : pageSize)}} of {{events.length}} stakes</p>
        
        <div class="pagination-buttons" v-if="paginate().pages.length < 5">
          <div @click="goBackPage" class="active button page-prev cursor-active">
            <img src="@/assets/images/prev.svg" />
          </div>
          <div @click="currentPage = buttons" v-for="buttons in paginate().pages" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
            {{buttons}}
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
        
        <div class="pagination-buttons" v-else>

          <div v-if="currentPage < paginate().pages[paginate().pages.length - 4]" :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>

            <div class="button" :class="'active-number'">
              {{currentPage}}
            </div>

            <div @click="currentPage = currentPage + 1" class="button cursor-active">
              {{currentPage + 1}}
            </div>
            <div class="button">
              ...
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 2]">
              {{this.paginate().pages[this.paginate().pages.length - 2]}}
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 1]">
              {{this.paginate().pages[this.paginate().pages.length - 1]}}
            </div>
          </div>
          <div v-else :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>
            <div class="button">
              ...
            </div>
            <div @click="currentPage = buttons" v-for="buttons in paginate().pages.slice(paginate().pages.length - 4, paginate().pages.length)" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
              {{buttons}}
            </div>
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import paginate from 'jw-paginate'
export default {
  name: 'JoinPVPMatchTable',
  methods: {
    goBackPage () {
      if(this.currentPage > 1) {
        this.currentPage--
      }
    },
    goForwardPage () {
      if(this.currentPage < this.paginate().pages.length) {
        this.currentPage++
      }
    },
    paginate () {
      return paginate(
          this.events.length, //TotalItems
          this.currentPage,  //CurrentPage
          this.pageSize, //PageSize
          100 //MaxPages
      )
    }
  },
  props: {
    currentPage: {
      type: Number,
      default: 1
    },
    pageSize: {
      type: Number,
      default: 4
    },
    name: {
      type: String,
      default: 'Join PVP Match'
    },
    events: {
      type: Array,
      default: [
        {
          id: 1,
          player: 'Team 1',
          prize: {
            amount: 0,
            currency: "USDT"
          },
          fee: {
            amount: 0,
            currency: "USDT"
          },
          link: 'https://nedobitkov.com'
        }
      ]
    }
  },
  data () {
    return {
      showModal: false,
      submitResultsPlayer: ''
    }
  }
}
</script>

<style scoped lang="scss">


.pagination
{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 950px){
    flex-direction: column;
  }

  & .button
  {
    height: 40px;
    width: 40px;
    border: 1px solid $white-50;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
    cursor: pointer;

    &.active
    {
      background-color: $white-25;
    }

    &.active-number
    {
      background-color: $white-25;
      border-color: $yellow;
      border-width: 2px;
      color: $yellow;
    }

    & img
    {
      width: 7px;
    }
  }

  &-buttons
  {
    display: flex;
    @media screen and (max-width: 950px){
      margin-top: 20px;
    }
  }

  & p
  {
    color: $white-50;
  }
}

.JoinPVPMatchTable
{
  margin-top: 40px;
  width: calc(100% - #{$default-padding});

  & .table
  {
    background-color: $white-10;
    border-radius: 15px;
    border: 1px solid $white-50;
    margin-top: $default-padding;
    box-shadow: $shadow;
    padding-top: 15px;
    @media screen and (max-width: 950px){
      border-radius: 10px;
    }

    & .item
    {
      padding: 10px $default-padding;

      & .bottom-row
      {
        display: flex;
        align-content: center;
        height: 68px;
        justify-content: space-between;
        position: relative;

        @media screen and (max-width: 950px){
          flex-direction: column;
          height: unset;
        }

        & .match-info
        {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (max-width: 950px){
            margin-bottom: 15px;
          }

          & .fee
          {
            @media screen and (max-width: 950px){
              width: 20% !important;
            }
          }

          & .title
          {
            color: $white-50;
            padding-bottom: 10px;

            @media screen and (max-width: 950px){
              font-size: 12px;
            }
          }

          & .entry
          {
            font-family: 'Gilroy Medium';

            @media screen and (max-width: 950px){
              font-size: 12px;
              font-family: 'Gilroy Bold';
            }
          }

          & .column
          {
            width: 33.3%;

            @media screen and (max-width: 950px){
              width: 20%;
            }
          }
        }
      }

      & .watchLive, .waiting
      {
        background-color: $red;
        border: 3px solid $red;
        border-radius: 10px;
        font-size: 18px;
        line-height: 22px;
        width: 100%;
        max-width: 180px;
        font-family: 'Gilroy Medium';
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;

        @media screen and (max-width: 950px){
          max-width: unset;
          min-height: 40px;
          font-size: 12px;
          border-radius: 5px;
        }

        &:hover
        {
          background-color: $white;
          color: $red;
        }
      }

      & .waiting
      {
        // position: absolute;
        // right: 0;
        // top: 50%;
        max-width: 275px;
        background-color: $white;
        border: 3px solid $white;
        color: $black;
        cursor: default;

        @media screen and (max-width: 950px){
          max-width: unset;
        }

        &:hover
        {
          background-color: $white;
          border: 3px solid $white;
          color: $black;
        }
      }

      & .submitResults
      {
        display: flex;
        min-width: 180px;
        position: relative;

        @media screen and (max-width: 950px){
          min-width: 100%;
          justify-content: flex-end;
          height: 40px;
        }

        & .btn, .chat
        {
          background-color: $yellow;
          border: 3px solid $yellow;
          color: $black;
          border-radius: 10px;
          font-size: 18px;
          line-height: 22px;
          width: 100%;
          max-width: 180px;
          font-family: 'Gilroy Bold';
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
          cursor: pointer;

          @media screen and (max-width: 950px){
            max-width: calc(100% - 66px);
            font-size: 12px;
            border-radius: 5px;
          }

          &:hover
          {
            background-color: $white;
            color: $black;
          }

        }

        & .chat
        {
          max-width: 66px;
          position: absolute;
          height: 100%;
          right: calc(100% + 10px);

          @media screen and (max-width: 950px){
            right: calc(100% - 56px);
            max-width: 56px;
          }
        }
      }
    }
  }

  & h1
  {
    font-size: 30px;
    font-family: 'Gilroy Medium';
  }
}

</style>
