<template>
  <div class="LiveEventTable">
    <h1>{{name ? name : 'Live Events'}}</h1>
    <!-- Or 15 for PB -->
    <div class="table" :style="paginate().pages.length <= 1 ? 'padding-bottom: 0px;' : ''">
    
      <PopupsStake
        :winner='{
          name: modalInfo.winner.name,
          ratio: modalInfo.winner.ratio
        }'
        :time="modalInfo.time"
        :firstTeam="modalInfo.team_one"
        :secondTeam="modalInfo.team_two"
        :isLive="modalInfo.isLive"
        :type="type"
        v-show="showModal" @close-modal="showModal = false" 
      />

      <div v-for="item in events.slice((this.currentPage * this.pageSize) - this.pageSize, this.currentPage * this.pageSize)" :key="item.id" class="item">

        <a :href="item.link" class="top-row cursor-active">
          <div class="time-stats">
            <div class="live" v-if="item.isLive">
              Live
            </div>
            <div class="ended" v-else>
              Finished
            </div>

            <div class="current-time" v-if="item.time">
              '{{item.time}}
            </div>
            <div class="mobile-score">
              <p class="score">{{item.team_one.score}} - {{item.team_two.score}}</p>
            </div>
          </div>
          <p class="winner">Winner</p>
          <div class="last-column" v-if="item.isLive" />
        </a>

        <div class="mobile-middle-row">
          <p>{{item.team_one.name}}</p>
          <p class="second-team">{{item.team_two.name}}</p>
        </div>

        <div class="bottom-row">
          <div class="teams">
            <div class="team firstTeam">
              <p class="name">{{item.team_one.name}}</p>
              <p class="score">{{item.team_one.score}}</p>
            </div>
            <div class="team secondTeam">
              <p class="name">{{item.team_two.name}}</p>
              <p class="score">{{item.team_two.score}}</p>
            </div>
          </div>

          <div class="stakes">
            <div
              class="stake firstTeamStake"
              @click="modalInfo = {winner: {name: item.team_one.name, ratio: item.team_one.stake}, time: item.time, team_one: item.team_one, team_two: item.team_two}, item.active ? null : showModal = true"
              :class="item.active ? (item.active.stakeTeam ==  item.team_one.name ? 'activeStake': '') : ' cursor-active'"
              :style="item.active ? '' : 'cursor: pointer;'"
            >
              <p class="name">{{item.team_one.name}}</p>
              <p class="score">{{item.team_one.stake}}</p>
            </div>
            <div
              class="stake secondTeamStake"
              @click="modalInfo = {winner: {name: item.team_two.name, ratio: item.team_two.stake}, time: item.time, team_one: item.team_one, team_two: item.team_two}, item.active ? null : showModal = true"
              :class="item.active ? (item.active.stakeTeam ==  item.team_two.name ? 'activeStake': '') : ' cursor-active'"
              :style="item.active ? '' : 'cursor: pointer;'"
            >
              <p class="name">{{item.team_two.name}}</p>
              <p class="score">{{item.team_two.stake}}</p>
            </div>
          </div>
          <a :href="item.link" class="watchLive cursor-active" v-if="item.isLive">
            Watch Live
          </a>
        </div>

      </div>

      <!-- If pagination is smaller than 6 do this DOWN, else div show current + 1 ... show last - 1 -->

      <div class="pagination" v-if="paginate().pages.length > 1">
        <p>Showing {{this.paginate().startIndex + 1}}-{{currentPage * (pageSize > events.length ? events.length : pageSize)}} of {{events.length}} stakes</p>
        
        <div class="pagination-buttons" v-if="paginate().pages.length < 5">
          <div @click="goBackPage" class="active button page-prev cursor-active">
            <img src="@/assets/images/prev.svg" />
          </div>
          <div @click="currentPage = buttons" v-for="buttons in paginate().pages" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
            {{buttons}}
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
        
        <div class="pagination-buttons" v-else>

          <div v-if="currentPage < paginate().pages[paginate().pages.length - 4]" :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>

            <div class="button" :class="'active-number'">
              {{currentPage}}
            </div>

            <div @click="currentPage = currentPage + 1" class="button cursor-active">
              {{currentPage + 1}}
            </div>
            <div class="button">
              ...
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 2]">
              {{this.paginate().pages[this.paginate().pages.length - 2]}}
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 1]">
              {{this.paginate().pages[this.paginate().pages.length - 1]}}
            </div>
          </div>
          <div v-else :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>
            <div class="button">
              ...
            </div>
            <div @click="currentPage = buttons" v-for="buttons in paginate().pages.slice(paginate().pages.length - 4, paginate().pages.length)" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
              {{buttons}}
            </div>
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import paginate from 'jw-paginate'
export default {
  name: 'LiveEventTable',
  data () {
    return {
      showModal: false,
      modalInfo: {
        winner:{
          name: '',
          ratio: ''
        },
        time: '',
        team_one: '',
        team_two: '',
        isLive: true
      }
    }
  },
  methods: {
    goBackPage () {
      if(this.currentPage > 1) {
        this.currentPage--
      }
    },
    goForwardPage () {
      if(this.currentPage < this.paginate().pages.length) {
        this.currentPage++
      }
    },
    paginate () {
      return paginate(
          this.events.length, //TotalItems
          this.currentPage,  //CurrentPage
          this.pageSize, //PageSize
          100 //MaxPages
      )
    }
  },
  props: {
    currentPage: {
      type: Number,
      default: 1
    },
    pageSize: {
      type: Number,
      default: 4
    },
    name: {
      type: String
    },
    type: {
      type: String
    },
    events: {
      type: Array,
      default: [
        {
          id: 1,
          isLive: true,
          time: 0,
          team_one: {
            name: 'Default',
            score: 0,
            stake: 0
          },
          team_two: {
            name: 'Defualt',
            score: 0,
            stake: 0
          },
          link: 'https://nedobitkov.com'
        }
      ]
    }
  },
}
</script>

<style scoped lang="scss">

.activeStake
{
  background-color: $yellow !important;

  & .score, .name
  {
    font-family: 'Gilroy Bold' !important;
    color: $black !important;
  }

  & .score
  {
    opacity: 0.5;
  }
}

.pagination
{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 950px){
    flex-direction: column;
  }

  & .button
  {
    height: 40px;
    width: 40px;
    border: 1px solid $white-50;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
    cursor: pointer;

    &.active
    {
      background-color: $white-25;
    }

    &.active-number
    {
      background-color: $white-25;
      border-color: $yellow;
      border-width: 2px;
      color: $yellow;
    }

    & img
    {
      width: 7px;
    }
  }

  &-buttons
  {
    display: flex;
    @media screen and (max-width: 950px){
      margin-top: 20px;
    }
  }

  & p
  {
    color: $white-50;
  }
}

.LiveEventTable
{
  margin-top: 40px;
  width: calc(100% - #{$default-padding});

  & .table
  {
    background-color: $white-10;
    border-radius: 15px;
    border: 1px solid $white-50;
    margin-top: $default-padding;
    box-shadow: $shadow;
    @media screen and (max-width: 950px){
      border-radius: 10px;
    }

    & .item
    {
      padding: $default-padding;

      & .mobile-middle-row
      {
        display: none;
    
        @media screen and (max-width: 950px){
          display: flex;
          margin-top: 15px;

          & p
          {
            width: 100%;
            @media screen and (max-width: 950px){
              font-family: 'Gilroy Bold';
            }

            &.second-team
            {
              text-align: right;
            }
          }
        }
      }

      & .bottom-row
      {
        display: flex;
        align-content: center;
        height: 83px;
        justify-content: space-between;
        padding-top: 15px;
    
        @media screen and (max-width: 950px){
          padding-top: 10px;
        }

        & .stakes
        {
          display: flex;
          width: 100%;
          margin: 0 20px;
    
          @media screen and (max-width: 950px){
            margin: 0;
          }
          
          & .stake
          {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            background-color: $black-25;
            border-radius: 5px;
            padding-left: 10px;

            & .name
            {
              @media screen and (max-width: 950px){
                font-family: 'Gilroy Bold';
              }
              padding-bottom: 10px;
            }

            & .score
            {
              color: $white-50;
              @media screen and (max-width: 950px){
                font-family: 'Gilroy Bold';
              }
            }
          }

          & .firstTeamStake
          {
            margin-right: 5px;
          }

          & .secondTeamStake
          {
            margin-left: 5px;
          }
        }

        & .teams
        {
          display: flex;
          flex-direction: column;
          max-width: 230px;
          width: 100%;
          justify-content: center;
    
          @media screen and (max-width: 950px){
            display: none;
          }
          
          & .team
          {
            display: flex;
            justify-content: space-between;

            & .name
            {
              font-family: 'Gilroy Medium';
            }

            & .score
            {
              font-family: 'Gilroy Medium';
              color: $yellow;
            }
          }

          & .firstTeam
          {
            padding-bottom: 10px;
          }
        }
      }

      & .top-row
      {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & .mobile-score
        {
          display: none;
    
          @media screen and (max-width: 950px){
            display: block;
            margin-left: 15px;
            color: $yellow;
            font-family: "Gilroy Bold";
          }
        }

        & .winner
        {
          color: $white-50;
          width: 100%;
          text-align: center;
    
          @media screen and (max-width: 950px){
            display: none;
          }
        }

        & .time-stats
        {
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 230px;

          & .current-time
          {
            padding-left: 20px;
            color: $white-50;
          }
        }

        & .last-column
        {
          width: 100%;
          max-width: 180px;
        }
      }

      & .watchLive
      {
        background-color: $red;
        border-radius: 10px;
        border: 3px solid $red;
        font-size: 18px;
        line-height: 22px;
        width: 100%;
        max-width: 180px;
        font-family: 'Gilroy Medium';
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
    
        @media screen and (max-width: 950px){
          display: none;
        }

        &:hover
        {
          background-color: $white;
          color: $red;
        }
      }

      & .live, .ended
      {
        background-color: $red;
        display: inline-block;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 16px;
    
        @media screen and (max-width: 950px){
          font-size: 14px;
          font-family: 'Gilroy Bold';
        }

        line-height: 19px;
      }

      & .ended
      {
        background-color: $green;
      }
    }
  }

  & h1
  {
    font-size: 30px;
    font-family: 'Gilroy Medium';
    
    @media screen and (max-width: 750px){
      font-size: 24px;
    }
  }
}

</style>
