<template>
  <div class="MyStackesTable">
    <div class="title-row">
      <h1>My Stackes</h1>
      <div class="switches">
        <div class="switch cursor-active" :class="currentTable == 'active' ? 'active' : ''" @click="currentTable = 'active'">
          Active
        </div>
        <div class="switch cursor-active" :class="currentTable == 'settled' ? 'active' : ''" @click="currentTable = 'settled'">
          Settled
        </div>
      </div>
    </div>

    <!-- Active -->
    <div class="table" :style="paginate().pages.length <= 1 ? 'padding-bottom: 20px;' : ''" v-if="currentTable == 'active'">
      <div class="top-row">
        <p>Event</p>
        <p>Time</p>
        <p>Odds</p>
        <p>Stake Amount</p>
        <p class="last">Result</p>
      </div>
      <div v-for="item in events.slice((this.currentPage * this.pageSize) - this.pageSize, this.currentPage * this.pageSize)" :key="item.id" class="item">
        <p>{{item.event}}</p>
        <p>{{item.time}}</p>
        <p>{{item.odds}}x</p>
        <p>{{item.stake.amount}} {{item.stake.currency}}</p>
        <p class="last result" :class="item.result.decision == 'win' ? 'win-result' : 'lose-result'">
          {{item.result.decision}}
          (<span>{{item.result.decision == 'win' ? '+' : '-' }}</span>{{item.result.amount}} {{item.result.currency}})
        </p>
      </div>

      <div class="pagination" v-if="paginate().pages.length > 1">
        <p>Showing {{this.paginate().startIndex + 1}}-{{currentPage * (pageSize > events.length ? events.length : pageSize)}} of {{events.length}} stakes</p>
        
        <div class="pagination-buttons" v-if="paginate().pages.length < 5">
          <div @click="goBackPage" class="active button page-prev cursor-active">
            <img src="@/assets/images/prev.svg" />
          </div>
          <div @click="currentPage = buttons" v-for="buttons in paginate().pages" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
            {{buttons}}
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
        
        <div class="pagination-buttons" v-else>

          <div v-if="currentPage < paginate().pages[paginate().pages.length - 4]" :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>

            <div class="button" :class="'active-number'">
              {{currentPage}}
            </div>

            <div @click="currentPage = currentPage + 1" class="button cursor-active">
              {{currentPage + 1}}
            </div>
            <div class="button">
              ...
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 2]">
              {{this.paginate().pages[this.paginate().pages.length - 2]}}
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 1]">
              {{this.paginate().pages[this.paginate().pages.length - 1]}}
            </div>
          </div>
          <div v-else :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>
            <div class="button">
              ...
            </div>
            <div @click="currentPage = buttons" v-for="buttons in paginate().pages.slice(paginate().pages.length - 4, paginate().pages.length)" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
              {{buttons}}
            </div>
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
      </div>
    </div>
    
    <!-- Settled -->
    <div class="table" :style="paginate().pages.length <= 1 ? 'padding-bottom: 20px;' : ''" v-if="currentTable == 'settled'">
      <div class="top-row">
        <p>Event</p>
        <p>Time</p>
        <p>Odds</p>
        <p>Stake Amount</p>
        <p class="last">Result</p>
      </div>
      <div v-for="item in events.slice((this.currentPage * this.pageSize) - this.pageSize, this.currentPage * this.pageSize)" :key="item.id" class="item">
        <p>{{item.event}}</p>
        <p>{{item.time}}</p>
        <p>{{item.odds}}x</p>
        <p>{{item.stake.amount}} {{item.stake.currency}}</p>
        <p class="last result" :class="item.result.decision == 'win' ? 'win-result' : 'lose-result'">
          {{item.result.decision}}
          (<span>{{item.result.decision == 'win' ? '+' : '-' }}</span>{{item.result.amount}} {{item.result.currency}})
        </p>
      </div>

      <div class="pagination" v-if="paginate().pages.length > 1">
        <p>Showing {{this.paginate().startIndex + 1}}-{{currentPage * (pageSize > events.length ? events.length : pageSize)}} of {{events.length}} stakes</p>
        
        <div class="pagination-buttons" v-if="paginate().pages.length < 5">
          <div @click="goBackPage" class="active button page-prev cursor-active">
            <img src="@/assets/images/prev.svg" />
          </div>
          <div @click="currentPage = buttons" v-for="buttons in paginate().pages" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
            {{buttons}}
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
        
        <div class="pagination-buttons" v-else>

          <div v-if="currentPage < paginate().pages[paginate().pages.length - 4]" :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>

            <div class="button" :class="'active-number'">
              {{currentPage}}
            </div>

            <div @click="currentPage = currentPage + 1" class="button cursor-active">
              {{currentPage + 1}}
            </div>
            <div class="button">
              ...
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 2]">
              {{this.paginate().pages[this.paginate().pages.length - 2]}}
            </div>
            <div class="button cursor-active" @click="currentPage = paginate().pages[paginate().pages.length - 1]">
              {{this.paginate().pages[this.paginate().pages.length - 1]}}
            </div>
          </div>
          <div v-else :style="'display: flex;'">
            <div @click="goBackPage" class="active button page-prev cursor-active">
              <img src="@/assets/images/prev.svg" />
            </div>
            <div class="button">
              ...
            </div>
            <div @click="currentPage = buttons" v-for="buttons in paginate().pages.slice(paginate().pages.length - 4, paginate().pages.length)" :key="buttons" class="button cursor-active" :class="buttons == paginate().currentPage ? 'active-number' : ''">
              {{buttons}}
            </div>
          </div>
          
          <div @click="goForwardPage" class="active button page-next cursor-active">
            <img src="@/assets/images/next.svg" />
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import paginate from 'jw-paginate'
export default {
  name: 'MyStackesTable',
  methods: {
    goBackPage () {
      if(this.currentPage > 1) {
        this.currentPage--
      }
    },
    goForwardPage () {
      if(this.currentPage < this.paginate().pages.length) {
        this.currentPage++
      }
    },
    paginate () {
      return paginate(
          this.events.length, //TotalItems
          this.currentPage,  //CurrentPage
          this.pageSize, //PageSize
          100 //MaxPages
      )
    }
  },
  data () {
    return {
      currentTable: 'active',
      currentPage: 1,
      pageSize: 7,
      events: [
        {
          id: 1,
          event: 'PVP with Castro',
          time: '18:47',
          odds: '1.18',
          stake: {
            amount: 10,
            currency: 'USDT'
          },
          result: {
            decision: 'win',
            amount: 10,
            currency: 'USDT'
          }
        },
        {
          id: 2,
          event: 'PVP with Castro',
          time: '18:47',
          odds: '1.18',
          stake: {
            amount: 10,
            currency: 'USDT'
          },
          result: {
            decision: 'lose',
            amount: 10,
            currency: 'USDT'
          }
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.MyStackesTable
{
  margin-top: $default-padding;
  width: calc(100% - #{$default-padding});

  & .table
  {
    background-color: $white-10;
    border-radius: 15px;
    border: 1px solid $white-50;
    margin-top: $default-padding;
    box-shadow: $shadow;
    padding-top: 20px;
    @media screen and (max-width: 950px){
      border-radius: 10px;
    }

    & .top-row, .item
    {
      display: flex;
      padding: 0 $default-padding;

      & p
      {
        width: 50%;
        color: $white-50;

        @media screen and (max-width: 950px){
          &:nth-child(2)
          {
            display: none;
          }
          &:nth-child(3)
          {
            display: none;
          }
          &:nth-child(4)
          {
            display: none;
          }
          width: 60%;
          font-size: 12px;
        }

        &.last
        {
          text-align: right;
          width: 30%;
          
          @media screen and (max-width: 950px){
            width: 40%;
          }
        }
      }
    }

    & .item
    {
      padding: 0px $default-padding;
      padding-top: $default-padding;

      & p
      {
        color: $white;
        font-family: 'Gilroy Bold';
      }

      & .result
      {
        text-transform: uppercase;
      }

      & .win-result
      {
        color: $yellow;
      }

      & .lose-result
      {
        color: $red;
      }
    }
  }

  & h1
  {
    font-size: 30px;
    font-family: 'Gilroy Medium';
  }

  & .title-row
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (max-width: 950px){
      display: none;
    }

    & .switches
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white-25;
      border: 1px solid $white-50;
      border-radius: 12px;
      height: 40px;
      font-size: 12px;

      & .switch
      {
        color: $white;
        padding: 10px;
        margin: 0 2px;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Gilroy Medium';
      }

      & .active
      {
        color: $black;
        background-color: $yellow;
        padding: 10px;
      }
    }
  }
}

.pagination
{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 950px){
    flex-direction: column;
  }

  & .button
  {
    height: 40px;
    width: 40px;
    border: 1px solid $white-50;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
    cursor: pointer;

    &.active
    {
      background-color: $white-25;
    }

    &.active-number
    {
      background-color: $white-25;
      border-color: $yellow;
      border-width: 2px;
      color: $yellow;
    }

    & img
    {
      width: 7px;
    }
  }

  &-buttons
  {
    display: flex;
    @media screen and (max-width: 950px){
      margin-top: 20px;
    }
  }

  & p
  {
    color: $white-50;
  }
}

</style>
