$bg-color: #1B1F26;
$yellow: #F7E14D;
$dark-main: #15181E;
$red: #FF4D4D;
$green: #52B670;
$orange: #F6851B;

$shadow: 0px 50px 200px 0px #00000080;

$black: #1A1A1A;
$black-25: rgba(0,0,0,0.25);
$black-50: rgba(0,0,0,0.5);
$white: #FFF;
$white-75: rgba(255,255,255,0.75);
$white-50: rgba(255,255,255,0.5);
$white-25: rgba(255,255,255,0.25);
$white-10: rgba(255,255,255,0.1);

$default-padding: 20px;

$side-menu-width: 350px;

$side-menu-width-mobile: 250px;

$mobile-bottom-padding: calc((#{$default-padding} * 2) + 80px);


.yellowSpan
{
  color: $yellow;
}

.side-bar .nuxt-link-active, .MobileBottomBar .nuxt-link-active
{
  color: $yellow;
}

.side-bar .MenuColumn .naming.nuxt-link-active::before
{
  content: '';
  width: 2px;
  height: 24px;
  position: absolute;
  left: calc(#{$default-padding} + 1px);
  background-color: $yellow;
  box-shadow: 10px 0px 20px #F7E14D;
}

.side-bar .MenuColumn .game-titles .title .nuxt-link-active::before
{
  content: "· ";
  font-size: 30px;
  vertical-align: middle;
  line-height: 20px;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  left: 0px;
}

.side-bar .MenuColumn .naming.nuxt-link-active + .interaction img
{
  content:url("@/assets/images/dropdown-yellow.svg");
}

.side-bar .MenuColumn #Live .nuxt-link-active img, .MobileBottomBar #Live .nuxt-link-active img
{
  content:url("@/assets/images/live-yellow.svg");
}

.side-bar .MenuColumn #PVP .nuxt-link-active img, .MobileBottomBar #PVP .nuxt-link-active img
{
  content:url("@/assets/images/pvp-yellow.png");
}

.side-bar .MenuColumn #eSports .nuxt-link-active img, .MobileBottomBar #eSports .nuxt-link-active img
{
  content:url("@/assets/images/esports-yellow.svg");
}

.side-bar .MenuColumn #Mystackes.nuxt-link-active img
{
  content:url("@/assets/images/stakes-yellow.svg");
}

.side-bar .MenuColumn #Accountsettings.nuxt-link-active img, .MobileBottomBar #Account .nuxt-link-active img
{
  content:url("@/assets/images/settings-yellow.svg");
}

/* Drop Zone in Submit Results Popup */
.drop-zone {
  /* max-width: 200px; */
  height: 62px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid $white-25;
  border-radius: 5px;
  background-color: $white-10;
  margin-bottom: 40px;
  transition: 0.3s;
}

.drop-zone--over {
  background-color: $white-25;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: $black-25;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 2px 0;
  color: #ffffff;
  background: $white-25;
  font-size: 10px;
  text-align: center;
}

.cursor
{
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 3px solid $yellow;
  // transition: 0.3s;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1000;

  @media only screen and (max-width: 950px) {
    display: none;
  }

  & .inner-circle
  {
    background-color: $white-25;
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }

  &-working .inner-circle
  {
    background-color: $yellow;
  }
}
