  @font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Gilroy Bold';
    src: url('@/assets/fonts/Gilroy-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Gilroy Medium';
    src: url('@/assets/fonts/Gilroy-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Gilroy SemiBold';
    src: url('@/assets/fonts/Gilroy-SemiBold.ttf');
  }
  
  a
  {
    text-decoration: none;
    color: inherit;
  }
  
  h1,h2,h3,h4,h5,h6
  {
    font-weight: 100;
  }
  
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  