<template>
  <div class="CreateAccount" @click="$emit('close-modal')">
    <div class="wrapper" @click.stop>
      <img class="close close-desktop cursor-active" @click="$emit('close-modal')" src="@/assets/images/close.svg" />
      <div class="close close-mobile" @click="$emit('close-modal')">
        Cancel
        <img src="@/assets/images/dropdown.svg" />
      </div>
      <div class="content-area">
        <h2 class="title">Create Account</h2>

        <div class="signUpGoogle signUpGoogle-desktop cursor-active" @click="loginGoogle">
          <img src="@/assets/images/google.svg"/>Sign up with Google
        </div>
        
      <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
        
        <form @submit.prevent>
          <label for="email">Email:</label>
          <input v-model="email" placeholder="Enter your Email" type="text" name="email" class=" cursor-active">

          <label for="password">Password:</label>
          <input v-model="password" placeholder="Enter your Password" type="password" name="password" class=" cursor-active">
          <p class="password-error" v-for="errors in passwordValidation.errors" :key="errors">{{errors}}</p>
          <p class="agreement">By creating an account I agree to the terms of service and privacy agreement and say that I am over the age of gambling</p>

          <div class="signUpGoogle signUpGoogle-mobile" @click="loginGoogle">
            <img src="@/assets/images/google.svg"/>Sign up with Google
          </div>
          
          <div class="button-collection">
            <button class="cancel cursor-active" @click="$emit('close-modal')">Cancel</button>
            <button :class='passwordValidation.valid ? "" : "disabled"' class=" cursor-active" @click="login">Join</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreateAccount',
  data () {
    return {
			rules: [
				// { message:'One lowercase letter required.', regex:/[a-z]+/ },
				// { message:"One uppercase letter required.",  regex:/[A-Z]+/ },
				{ message:"8 characters minimum.", regex:/.{8,}/ },
				// { message:"One number required.", regex:/[0-9]+/ }
			],
      msg: '',
      email: '',
      password: ''
    }
  },
  methods: {
    login () {
      this.$store.commit("user/USER_UPDATE", {email: this.email, password: this.password})
    },
    loginGoogle () {
      // this.$auth.loginWith('google')
      // var myParams = {
      //   'clientid' : '917889457868-te208k1qkart6qb7llcuf7c1tktet9u7.apps.googleusercontent.com',
      //   'cookiepolicy' : 'single_host_origin',
      //   'callback' : 'loginCallback',
      //   'approvalprompt':'force',
      //   'scope' : 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
      // };
      // gapi.auth.signIn(myParams);
    },
    checkForm () {
      if (this.email != '' && this.password != '') {
        return true;
      }
    }
  },
  computed : {
    validateEmail() {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email)) {
        this.msg['email'] = 'Please enter a valid email address';
      } else {
        this.msg['email'] = '';
      }
    },
		passwordValidation () {
			let errors = []
			for (let condition of this.rules) {
				if (!condition.regex.test(this.password)) {
					errors.push(condition.message)
				}
			}
			if (errors.length === 0) {
				return { valid:true, errors }
			} else {
				return { valid:false, errors }
			}
		}
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
  }
}
</script>

<style scoped lang="scss">

.CreateAccount
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black-50;
  backdrop-filter: blur(4px);
  cursor: pointer;

  @media screen and (max-width: 950px) {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    height: stretch;
  }

  & .email-error
  {
    color: $red;
    font-size: 10px;
    margin-bottom: 5px;
  }

  & .password-error
  {
    color: $red;
    font-size: 10px;
    margin-bottom: 5px;
  }

  & .content-area
  {
    width: 100%;
    padding: 40px 100px;
    cursor: default;
    
    @media screen and (max-width: 950px){
      padding: $default-padding;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    & .agreement
    {
      font-size: 10px;
      color: $white-50;
      margin-bottom: 40px;
    }

    & #password
    {
      margin-bottom: 10px;
    }

    & .title
    {
      font-size: 18px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        font-family: "Gilroy Bold";
        margin-top: $default-padding;
      }
    }
    
    & form
    {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 950px){
        height: 100%;
        margin-top: 30%;
      }
    }

    & .button-collection
    {
      display: flex;
      @media screen and (max-width: 950px){
        margin-top: auto;
        margin-bottom: $default-padding;
      }

      & .disabled
      {
        opacity: 0.5;
        pointer-events: none;
      }

      @media screen and (max-width: 950px){
        & .cancel
        {
          display: none;
        }
      }
    }

    & button
    {
      width: 50%;
      height: 40px;
      background-color: $yellow;
      color: $black;
      border: 0;
      border-radius: 10px;
      font-family: 'Gilroy Bold';
      cursor: pointer;
      
      @media screen and (max-width: 950px){
        width: 100%;
      }
    }

    & .cancel
    {
      background-color: unset;
      color: $white;
    }

    & input
    {
      margin-top: 10px;
      margin-bottom: $default-padding;
      height: 38px;
      border-radius: 5px;
      border: 1px solid $white-25;
      background-color: $white-10;
      color: $white;
      padding: 10px;
      font-family: 'Gilroy';
      font-size: 12px;

      &:-internal-autofill-selected
      {
        background-color: black !important;
      }

      &::placeholder
      {
        color: $white-50;
      }

      &:focus-within, :focus-visible
      {
        outline: 0;
      }
    }

    & label
    {
      font-size: 12px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        font-family: "Gilroy Bold";
      }
    }
  }

  & .wrapper
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(150px);
    border-radius: 10px;
    max-width: 560px;
    width: 100%;
    background-color: $white-10;
    border: 1px solid $white-50;
    
    @media screen and (max-width: 950px){
      top: 0;
      left: 0;
      transform: unset;
      max-width: unset;
      height: 100%;
      // max-height: fit-content;
      // height: -moz-max-content;
      border-radius: 0;
      border: 0;
      background-color: $bg-color;
      backdrop-filter: unset;

      &::after
      {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
      }
    }
  }

  & .close
  {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    align-items: center;
    @media screen and (max-width: 950px){
      top: 23px;
    }

    & img
    {
      transform: rotate(180deg);
      height: 12px;
      margin-left: 10px;
    }

    &-desktop
    {
      display:flex;
      @media screen and (max-width: 950px){
        display: none;
      }
    }

    &-mobile
    {
      display:none;
      @media screen and (max-width: 950px){
        display: flex;
        font-family: "Gilroy Bold";
        margin-top: $default-padding;
      }
      width: unset !important;
    }
  }

  & .signUpGoogle
  {
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Gilroy Bold';
    transition: 0.3s;

    &-desktop
    {
      display: flex;
      @media screen and (max-width: 950px){
        display: none;
      }
    }

    &-mobile
    {
      display: none;
      @media screen and (max-width: 950px){
        display: flex;
        margin-top: 0px;
      }
    }

    &:hover
    {
      transform: scale(1.01);
    }

    & img
    {
      width: 20px;
      margin-right: 10px;
    }
  }
}

</style>
