<template>
  <div class="CreateAccount" @click="$emit('close-modal')">
    <div class="wrapper" @click.stop>
      <img class="close close-desktop cursor-active" @click="$emit('close-modal')" src="@/assets/images/close.svg" />
      <div class="close close-mobile" @click="$emit('close-modal')">
        Cancel
        <img src="@/assets/images/dropdown.svg" />
      </div>
      <div class="content-area">
        <h2 class="title">Create a new {{game}} PVP Match</h2>

        <!-- Game Window -->
        <div class="window-game" v-if="currentTab == 1">
          <p class="notes">Choose the game you want to play</p>

          <div class="games">
            <div @click="currentGame = items" class="game cursor-active" :class="currentGame == items ? 'active' : ''" v-for="items in games" :key="items">
              {{items}}
            </div>
          </div>
        </div>
        <!-- Platform Window -->
        <div class="window-platform" v-if="currentTab == 2">
          <p class="notes">Choose the platform</p>

          <div class="games">
            <div @click="currentPlatform = items" class="game cursor-active" :class="currentPlatform == items ? 'active' : ''" v-for="items in platforms" :key="items">
              {{items}}
            </div>
          </div>
        </div>
        <!-- Mode Window -->
        <div class="window-platform" v-if="currentTab == 3">
          <p class="notes">Choose the game mode</p>

          <div class="games">
            <div @click="currentMode = items" class="game cursor-active" :class="currentMode == items ? 'active' : ''" v-for="items in modes" :key="items">
              {{items}}
            </div>
          </div>
        </div>
        <!-- Stake Window -->
        <div class="window-platform" v-if="currentTab == 4">
          <p class="notes">Choose the amount to stake (you will win x2 your stake -10%)</p>

          <div class="games">
            <div @click="currentStake = items" class="game cursor-active" :class="currentStake == items ? 'active' : ''" v-for="items in stakes" :key="items">
              {{items}} USDT
            </div>
          </div>
        </div>

        <div class="page-count">
          <div class="dot cursor-active" :class="currentTab == 1 ? 'active' : ''" @click="currentTab = 1" />
          <div class="dot cursor-active" :class="currentTab == 2 ? 'active' : ''" @click="currentTab = 2" />
          <div class="dot cursor-active" :class="currentTab == 3 ? 'active' : ''" @click="currentTab = 3" />
          <div class="dot cursor-active" :class="currentTab == 4 ? 'active' : ''" @click="currentTab = 4" />
        </div>
        <div class="button-collection">
          <button v-if="currentTab == 1" class="cancel cursor-active" @click="$emit('close-modal')">Cancel</button>
          <button class="cancel back cursor-active" v-else @click="currentTab--">Back</button>

          <button
            @click="next"
            v-if="currentTab < 4"
            class=" cursor-active"
          >
            Next
          </button>
          <button @click="submit" class=" cursor-active" v-else>Create New Match</button>
        </div>
        
        <p class="error">{{error}}</p>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreateAccount',
  data () {
    return {
      error: '',
      games: [
        'FIFA 2020', 'CS:GO', 'Dota 2', 'Mortal Combat', 'COD: Warzone'
      ],
      platforms: [
        'XBOX', 'Playstation',
      ],
      modes: [
        'Friendly', 'FUT',
      ],
      stakes: [
        10, 25, 50, 100, 250, 500, 1000,
      ],
      currentTab: '1',
      currentGame: '',
      currentPlatform: '',
      currentMode: '',
      currentStake: ''
    }
  },
  methods: {
    next () {
      if(this.currentTab == 1 && this.currentGame == '') {
        this.error = 'Choose your game'
      } else if(this.currentTab == 2 && this.currentPlatform == '') {
        this.error = 'Choose your platform'
      } else if(this.currentTab == 3 && this.currentMode == '') {
        this.error = 'Choose your mode'
      } else {
        this.error = ''
        return this.currentTab++
      }
    },
    submit () {
      if(this.currentTab == 4 && this.currentStake == '') {
        this.error = 'Choose your stake'
      } else {
        const objectTest = {
          waiting: true,
          id: 5,
          player: 'Castro_7565',
          prize: {
            amount: ((this.currentStake * 2) - ((this.currentStake * 2) * 0.10)),
            currency: "USDT"
          },
          fee: {
            amount: this.currentStake,
            currency: "USDT"
          },
          link: 'https://nedobitkov.com'
        }

        this.error = ''
        // submit code
        this.$store.commit('user/USER_CREATE_MATCH', objectTest)

        this.$emit('close-modal')
      }
    }
  },
  props: {
    game: {
      type: String
    },
    isOpen: {
      type: Boolean,
      default: false
    },
  }
}
</script>

<style scoped lang="scss">

.error
{
  color: $red;
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
}

.CreateAccount
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black-50;
  backdrop-filter: blur(4px);
  cursor: pointer;

  @media screen and (max-width: 950px) {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    height: stretch;
  }

  & .content-area
  {
    width: 100%;
    padding: 40px 100px;
    cursor: default;
    
    @media screen and (max-width: 950px){
      padding: $default-padding;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    & .title
    {
      font-size: 18px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        width: 60%;
        max-width: 240px;
        line-height: 26px;
        font-family: 'Gilroy Bold';
        margin-top: $default-padding;
      }
    }

    & .button-collection
    {
      display: flex;
      @media screen and (max-width: 950px){
        margin-top: auto;
        margin-bottom: $default-padding;
        flex-direction: column;
      }

      & .disabled
      {
        opacity: 0.5;
        pointer-events: none;
      }

      @media screen and (max-width: 950px){
        & .cancel
        {
          display: none;
        }
      }

      @media screen and (max-width: 950px){
        & .back
        {
          display: block;
          margin-bottom: 10px;
        }
      }
    }

    & .games
    {
      display: flex;
      flex-wrap: wrap;
      margin: -5px -5px;
      margin-bottom: 40px;
      

      & .game
      {
        background-color: $white-10;
        border: 1px solid $white-50;
        border-radius: 10px;
        padding: 10px;
        transition: 0.3s;
        font-size: 12px;
        margin: 5px 5px;
        cursor: pointer;

        &.active
        {
          border: 1px solid $yellow;
          color: $yellow;
        }
      }
    }

    & .page-count
    {
      display: flex;
      margin: -5px -5px;
      justify-content: center;
      margin-bottom: 40px;

      & .dot
      {
        width: 5px;
        height: 5px;
        margin: 5px 5px;
        background-color: $white-50;
        border-radius: 50%;
        cursor: pointer;

        &.active
        {
          background-color: $white;
        }
      }
    }

    & button
    {
      width: 50%;
      height: 40px;
      background-color: $yellow;
      color: $black;
      border: 0;
      border-radius: 10px;
      font-family: 'Gilroy Medium';
      cursor: pointer;
      font-size: 12px;
      transition: 0.3s;
      
      @media screen and (max-width: 950px){
        width: 100%;
        font-family: 'Gilroy Bold';
      }

      &:hover
      {
        opacity: 0.8;
      }
    }

    & .cancel
    {
      background-color: unset;
      color: $white;
    }

    & .notes
    {
      font-size: 16px;
      color: $white-50;
      line-height: 150%;
      margin-bottom: 20px;
      margin-top: 40px;
    }
  }

  & .window
  {
    &-game,&-platform
    {
      @media screen and (max-width: 950px){
        margin-top: 20%;
      }
    }
  }

  & .wrapper
  {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    // transform: translate(-50%, -50%);
    backdrop-filter: blur(150px);
    border-radius: 10px;
    max-width: 560px;
    width: 100%;
    background-color: $white-10;
    border: 1px solid $white-50;
    
    @media screen and (max-width: 950px){
      top: 0;
      left: 0;
      transform: unset;
      max-width: unset;
      height: 100%;
      border-radius: 0;
      border: 0;
      background-color: $bg-color;
      backdrop-filter: unset;

      &::after
      {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
      }
    }
  }

  & .close
  {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  & .close
  {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    align-items: center;
    @media screen and (max-width: 950px){
      top: 24px;
    }

    & img
    {
      transform: rotate(180deg);
      height: 12px;
      margin-left: 10px;
    }

    &-desktop
    {
      display:flex;
      @media screen and (max-width: 950px){
        display: none;
      }
    }

    &-mobile
    {
      display:none;
      @media screen and (max-width: 950px){
        display: flex;
        font-family: 'Gilroy Bold';
        margin-top: $default-padding;
      }
      width: unset !important;
    }
  }
}

</style>
