<template>
  <div class="Stake" @click="$emit('close-modal')">
    <div class="wrapper" @click.stop>
      <img class="close close-desktop cursor-active" @click="$emit('close-modal')" src="@/assets/images/close.svg" />
      <div class="close close-mobile" @click="$emit('close-modal')">
        Cancel
        <img src="@/assets/images/dropdown.svg" />
      </div>
      <div class="content-area">
        <h2 class="title title-alone">
          Place a Stake
        </h2>
        <div class="title">
          <div class="left-side">
            <div v-if="isLive" class="live">
              Live
            </div>
            <h2>{{firstTeam.name}} x {{secondTeam.name}}</h2>
          </div>
          <p class="time">'{{time}}</p>
        </div>

        <div class="score">
          <div class="team firstTeam">
            <p>{{firstTeam.name}}</p>
            <p class="score-number">{{firstTeam.score}}</p>
          </div>
          <div class="team secondTeam">
            <p>{{secondTeam.name}}</p>
            <p class="score-number">{{secondTeam.score}}</p>
          </div>
        </div>

        <div class="winner">
          <div class="left-side">
            <p class="tag">Winner</p>
            <p class="name">{{winner.name}}</p>
          </div>
          <p class="ratio">{{winner.ratio}}</p>
        </div>

        <div class="stake-input">
          <input v-model="currentStake" class=" cursor-active" type="number" min="0" placeholder="10.00 USDT">
          <p class="est">Est. Payout<br>{{estimated}} USDT</p>
        </div>

        <div class="button-collection">
          <button class="cancel cursor-active" @click="$emit('close-modal')">Cancel</button>
          <button @click="submit" class=" cursor-active">Stake</button>
        </div>
        
        <p class="error">{{error}}</p>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreateAccount',
  data () {
    return {
      error: '',
      currentStake: ''
    }
  },
  methods: {
    submit () {
      if(this.currentStake == '' || this.currentStake == 0) {
        this.error = 'Choose your stake'
      } else {
        const payload = {
          active: {
            stakeTeam: this.winner.name
          },
          id: 69,
          isLive: true,
          time: this.time,
          team_one: this.firstTeam,
          team_two: this.secondTeam,
          link: 'https://nedobitkov.com'
        }

        this.error = ''
        // submit code
        this.$store.commit('user/USER_CREATE_STAKE', {payload, item: this.type})

        this.$emit('close-modal')
      }
    }
  },
  computed: {
    estimated () {
      return (this.winner.ratio * this.currentStake).toFixed(2);
    }
  },
  props: {
    winner: {
      type: Object
    },
    time: {
      type: String
    },
    firstTeam: {
      type: String
    },
    secondTeam: {
      type: String
    },
    isLive: {
      type: Boolean,
      default: true
    },
    type: {
      type: String
    },
    isOpen: {
      type: Boolean,
      default: false
    },
  }
}
</script>

<style scoped lang="scss">

.Stake
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black-50;
  backdrop-filter: blur(4px);
  cursor: pointer;

  @media screen and (max-width: 950px) {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    height: stretch;
  }

  & .stake-input
  {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .est
    {
      min-width: 110px;
      text-align: right;
      font-size: 12px;
      line-height: 18px;
      color: $white-50;
    }
  }

  & input
  {
    height: 38px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $white-25;
    background-color: $white-10;
    color: $white;
    padding: 10px;
    font-family: 'Gilroy';
    font-size: 12px;

    &:-internal-autofill-selected
    {
      background-color: black !important;
    }

    &::placeholder
    {
      color: $white-50;
    }

    &:focus-within, :focus-visible
    {
      outline: 0;
    }
  }

  & .content-area
  {
    width: 100%;
    padding: 40px 100px;
    cursor: default;
    
    @media screen and (max-width: 950px){
      padding: $default-padding;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    & .winner
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      & .left-side
      {
        display: flex;
        align-items: center;
      }

      & .tag
      {
        color: $white-50;
        margin-right: 15px;
      }

    }

    & .score
    {

      display: flex;
      flex-direction: column;

      & .team
      {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & .firstTeam
      {
        margin-bottom: 10px;
      }

      &-number
      {
        color: $yellow;
      }
    }

    & .title
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      @media screen and (max-width: 950px){
        font-family: 'Gilroy Bold';
        margin-top: $default-padding;
      }

      &-alone
      {
        display: none;
        margin-bottom: 30%;
        font-family: 'Gilroy Bold';
        @media screen and (max-width: 950px){
          display: flex;
        }
      }

      & .time
      {
        color: $white-50;
      }

      & .left-side
      {
        display: flex;
        align-items: center;
        padding-right: 20px;
      }
      
      & .live
      {
        background-color: $red;
        display: inline-block;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 19px;
        margin-right: 10px;
      }

      & h2
      {
        font-size: 18px;
        font-family: 'Gilroy Medium';
      }
    }

    & .button-collection
    {
      display: flex;
      margin-top: 40px;
      @media screen and (max-width: 950px){
        margin-top: auto;
        margin-bottom: $default-padding;
      }

      & .disabled
      {
        opacity: 0.5;
        pointer-events: none;
      }

      @media screen and (max-width: 950px){
        & .cancel
        {
          display: none;
        }
      }
    }

    & button
    {
      width: 50%;
      height: 40px;
      background-color: $yellow;
      color: $black;
      border: 0;
      border-radius: 10px;
      font-family: 'Gilroy Medium';
      cursor: pointer;
      font-size: 12px;
      transition: 0.3s;
      
      @media screen and (max-width: 950px){
        width: 100%;
        font-family: 'Gilroy Bold';
      }

      &:hover
      {
        opacity: 0.8;
      }
    }

    & .cancel
    {
      background-color: unset;
      color: $white;
    }
  }

  & .wrapper
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(150px);
    border-radius: 10px;
    max-width: 560px;
    width: 100%;
    background-color: $white-10;
    border: 1px solid $white-50;
    
    @media screen and (max-width: 950px){
      top: 0;
      left: 0;
      transform: unset;
      max-width: unset;
      height: 100%;
      border-radius: 0;
      border: 0;
      background-color: $bg-color;
      backdrop-filter: unset;

      &::after
      {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
      }
    }
  }

  & .close
  {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    align-items: center;
    @media screen and (max-width: 950px){
      top: 27px;
    }

    & img
    {
      transform: rotate(180deg);
      height: 12px;
      margin-left: 10px;
    }

    &-desktop
    {
      display:flex;
      @media screen and (max-width: 950px){
        display: none;
      }
    }

    &-mobile
    {
      display:none;
      @media screen and (max-width: 950px){
        display: flex;
        font-family: "Gilroy Bold";
        margin-top: $default-padding;
      }
      width: unset !important;
    }
  }

  & .error
  {
    color: $red;
    text-align: center;
    font-size: 12px;
    padding-top: 12px;
  }
}

</style>
