<template>
  <div class="SubmitResults" @click="$emit('close-modal')">
    <div class="wrapper" @click.stop>
      <img class="close close-desktop cursor-active" @click="$emit('close-modal')" src="@/assets/images/close.svg" />
      <div class="close close-mobile" @click="$emit('close-modal')">
        Cancel
        <img src="@/assets/images/dropdown.svg" />
      </div>
      <div class="content-area">
        <h2 class="title">Submit Results of your PVP Match</h2>

        <!-- Game Window -->
        <div class="window-game">
          <p class="notes">Submit Results of your PVP Match, you can attatch a photo of the results to resolve disputes</p>
          <div class="inputs">
            <div>
              <label>You</label>
              <input class=" cursor-active" type="number" placeholder="Enter your score"/>
            </div>
            <div>
              <label>{{ playerName }}</label>
              <input class=" cursor-active" type="number" placeholder="Enter your opponent score"/>
            </div>
          </div>
          <label>
            Upload Picture
          </label>
          <!-- Styles in assets/scss/variables -->
          <div class="drop-zone cursor-active">
            <span class="drop-zone__prompt"><img src="@/assets/images/upload.svg" /></span>
            <input type="file" name="myFile" class="drop-zone__input">
          </div>


        </div>

        <div class="button-collection">
          <button class="cancel cursor-active" @click="$emit('close-modal')">Back</button>
          <button class=" cursor-active">Submit Results</button>
        </div>
        
        <!-- <p class="error">{{error}}</p> -->
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SubmitResults',
  data () {
    return {
    }
  },
  mounted () {
    this.uploadLogic()
  },
  methods: {
    uploadLogic () {
      document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
          inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
          if (inputElement.files.length) {
            updateThumbnail(dropZoneElement, inputElement.files[0]);
          }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
          e.preventDefault();
          dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
          dropZoneElement.addEventListener(type, (e) => {
            dropZoneElement.classList.remove("drop-zone--over");
          });
        });

        dropZoneElement.addEventListener("drop", (e) => {
          e.preventDefault();

          if (e.dataTransfer.files.length) {
            inputElement.files = e.dataTransfer.files;
            updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
          }

          dropZoneElement.classList.remove("drop-zone--over");
        });
      });

      /**
       * Updates the thumbnail on a drop zone element.
       *
       * @param {HTMLElement} dropZoneElement
       * @param {File} file
       */
      function updateThumbnail(dropZoneElement, file) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone__prompt")) {
          dropZoneElement.querySelector(".drop-zone__prompt").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
          thumbnailElement = document.createElement("div");
          thumbnailElement.classList.add("drop-zone__thumb");
          dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = file.name;

        // Show thumbnail for image files
        if (file.type.startsWith("image/")) {
          const reader = new FileReader();

          reader.readAsDataURL(file);
          reader.onload = () => {
            thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
          };
        } else {
          thumbnailElement.style.backgroundImage = null;
        }
      }
    }
  },
  props: {
    playerName: {
      type: String,
      default: ''
    }
  },
}
</script>

<style scoped lang="scss">

.error
{
  color: $red;
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
}

.SubmitResults
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black-50;
  backdrop-filter: blur(4px);
  cursor: pointer;

  @media screen and (max-width: 950px) {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    height: stretch;
  }

  .inputs
  {
    display: flex;
    margin-bottom: 20px;
    @media screen and (max-width: 950px){
      flex-direction: column;
    }

    & div:nth-child(1)
    {
      margin-bottom: 10px;
    }

    & div
    {
      width: 50%;
      @media screen and (max-width: 950px){
        width: 100%;
      }
    }
  }

  & label
  {
    font-size: 12px;
    font-family: 'Gilroy Medium';
  }

  & input
  {
    height: 38px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $white-25;
    background-color: $white-10;
    color: $white;
    padding: 10px;
    font-family: 'Gilroy';
    font-size: 12px;
    margin-top: 10px;

    &:-internal-autofill-selected
    {
      background-color: black !important;
    }

    &::placeholder
    {
      color: $white-50;
    }

    &:focus-within, :focus-visible
    {
      outline: 0;
    }
  }

  & .content-area
  {
    width: 100%;
    padding: 40px 100px;
    cursor: default;
    
    @media screen and (max-width: 950px){
      padding: $default-padding;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    & .title
    {
      font-size: 18px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        width: 60%;
        max-width: 240px;
        line-height: 26px;
        font-family: 'Gilroy Bold';
        margin-top: $default-padding;
      }
    }

    & .button-collection
    {
      display: flex;
      margin-top: 40px;
      @media screen and (max-width: 950px){
        margin-top: auto;
        margin-bottom: $default-padding;
      }

      & .disabled
      {
        opacity: 0.5;
        pointer-events: none;
      }

      @media screen and (max-width: 950px){
        & .cancel
        {
          display: none;
        }
      }
    }

    & button
    {
      width: 50%;
      height: 40px;
      background-color: $yellow;
      color: $black;
      border: 0;
      border-radius: 10px;
      font-family: 'Gilroy Medium';
      cursor: pointer;
      font-size: 12px;
      transition: 0.3s;
      
      @media screen and (max-width: 950px){
        width: 100%;
        font-family: 'Gilroy Bold';
      }

      &:hover
      {
        opacity: 0.8;
      }
    }

    & .cancel
    {
      background-color: unset;
      color: $white;
    }

    & .notes
    {
      font-size: 16px;
      color: $white-50;
      line-height: 150%;
      margin-bottom: 20px;
      margin-top: 40px;
      @media screen and (max-width: 950px){
        margin-top: 20%;
      }
    }
  }

  & .wrapper
  {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    // transform: translate(-50%, -50%);
    backdrop-filter: blur(150px);
    border-radius: 10px;
    max-width: 560px;
    width: 100%;
    background-color: $white-10;
    border: 1px solid $white-50;
    
    @media screen and (max-width: 950px){
      top: 0;
      left: 0;
      transform: unset;
      max-width: unset;
      height: 100%;
      border-radius: 0;
      border: 0;
      background-color: $bg-color;
      backdrop-filter: unset;

      &::after
      {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
      }
    }
  }

  & .close
  {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    align-items: center;
    @media screen and (max-width: 950px){
      top: 23px;
    }

    & img
    {
      transform: rotate(180deg);
      height: 12px;
      margin-left: 10px;
    }

    &-desktop
    {
      display:flex;
      @media screen and (max-width: 950px){
        display: none;
      }
    }

    &-mobile
    {
      display:none;
      @media screen and (max-width: 950px){
        display: flex;
        font-family: "Gilroy Bold";
        margin-top: $default-padding;
      }
      width: unset !important;
    }
  }
}

</style>
