<template>
  <div class="CreateAccount" @click="$emit('close-modal')">
    <div class="wrapper" @click.stop>
      <img class="close close-desktop cursor-active" @click="$emit('close-modal')" src="@/assets/images/close.svg" />
      <div class="close close-mobile" @click="$emit('close-modal')">
        Cancel
        <img src="@/assets/images/dropdown.svg" />
      </div>
      <div class="content-area">
        <h2 class="title">Wallet</h2>

        <div class="switches">
          <div class="switch cursor-active" :class="currentTab == 'deposit' ? 'active' : ''" @click="currentTab = 'deposit'">
            Deposit
          </div>
          <div class="switch cursor-active" :class="currentTab == 'withdraw' ? 'active' : ''"  @click="currentTab = 'withdraw'">
            Withdraw
          </div>
          <div class="switch cursor-active" :class="currentTab == 'buy' ? 'active' : ''"  @click="currentTab = 'buy'">
            Buy Crypto
          </div>
        </div>

        <!-- Deposit Window -->
        <form class="window-deposit" v-if="currentTab == 'deposit'">
          <div class="dropdowns">
            <select name="currency" class=" cursor-active" id="currency">
              <option value="USDT">USDT</option>
            </select>
            <select name="network" class=" cursor-active" id="network">
              <option value="ERC-20">ERC-20</option>
            </select>
          </div>

          <div class="address">
            <input v-model="depositAddress" disabled type="text">
            <div @click="copy" class="copy cursor-active">
              Copy
            </div>
          </div>
          <div :style="`background-image: url('${require('@/assets/images/qr.png')}')`" class="qrcode"></div>
          <p class="notes">You can either deposit by sending the money to this address, or via Metmask</p>
          
          <div class="button-collection">
            <button class="cancel cursor-active" @click="$emit('close-modal')">Cancel</button>
            <button class="metamask cursor-active">Deposit with Metamask</button>
          </div>
        </form>

        <!-- Withdraw Window -->
        <form class="window-withdraw" v-if="currentTab == 'withdraw'">
          <div class="dropdowns">
            <select name="currency" class=" cursor-active" id="currency">
              <option value="0.00 USDT">0.00 USDT</option>
            </select>
          </div>

          <div class="address">
            <label>USDT Address</label>
            <input class=" cursor-active" placeholder="0x0000000000000000..." v-model="withdrawAddress" type="text">
          </div>

          <label>Amount</label>
          <div class="withdrawAmount">
            <input class=" cursor-active" placeholder="0.00 USDT" v-model="withdrawAmount" type="text">
            <div @click="max" class="max cursor-active">
              Max
            </div>
          </div>
          
          <div class="button-collection">
            <button class="cancel cursor-active" @click="$emit('close-modal')">Cancel</button>
            <button class=" cursor-active">Withdraw</button>
          </div>
        </form>

        <!-- Buy Window -->
        <form class="window-buy" v-if="currentTab == 'buy'">
          <label class="buyLabel">Buy USDT</label>
          <div class="buyAmount">
            <input class=" cursor-active" placeholder="0.00" v-model="buyAmount" type="number">
            <select name="buyAmount" id="buyAmount" class=" cursor-active" v-model="buyCurrency">
              <option value="USDT">USDT</option>
            </select>
          </div>

          <label class="payLabel">Pay with USD</label>
          <div class="payAmount">
            <input class=" cursor-active" placeholder="0.00 USDT" v-model="payAmount" type="text">
            <select class=" cursor-active" name="payAmount" id="payAmount">
              <option value="USD">USD</option>
            </select>
          </div>
          
          <div class="button-collection">
            <button class="cancel cursor-active" @click="$emit('close-modal')">Cancel</button>
            <button @click="buy" class=" cursor-active">Buy with Moonpay</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreateAccount',
  data () {
    return {
      currentTab: 'deposit',
      depositAddress: '0x23581767a106ae21c074b2276D25e5C3e136a68b',
      withdrawAddress: '',
      withdrawAmount: 0,
      buyAmount: 0,
      buyCurrency: 'USDT',
      payAmount: '',
    }
  },
  computed: {
    getUserBalance () {
      return this.$store.state.user.accountBalance
    },
  },
  methods: {
    max () {
      this.withdrawAmount = this.getUserBalance.amount
    },
    buy () {
      this.$store.commit("user/USER_ACCOUNT_BALANCE", {amount: this.buyAmount, currency: this.buyCurrency})
    },
    copy () {
      navigator.clipboard.writeText(this.depositAddress).then(function() {
        console.log('Address Copied');
      }, function(err) {
        console.error('Address Not Found');
      });
    }
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
  }
}
</script>

<style scoped lang="scss">

.CreateAccount
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black-50;
  backdrop-filter: blur(4px);
  cursor: pointer;

  @media screen and (max-width: 950px) {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    height: stretch;
  }

  & .content-area
  {
    width: 100%;
    padding: 40px 100px;
    cursor: default;

    @media screen and (max-width: 950px){
      padding: $default-padding;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    & .agreement
    {
      font-size: 10px;
      color: $white-50;
      margin-bottom: 40px;
    }

    & #password
    {
      margin-bottom: 10px;
    }

    & .title
    {
      font-size: 18px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        font-family: 'Gilroy Bold';
        margin-top: $default-padding;
      }
    }
    
    & form
    {
      // margin-top: 45px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 950px){
        height: 100%;
        // margin-top: 30%;
      }
    }

    & .button-collection
    {
      display: flex;
      @media screen and (max-width: 950px){
        margin-top: auto;
        margin-bottom: $default-padding;
      }

      & .disabled
      {
        opacity: 0.5;
        pointer-events: none;
      }

      @media screen and (max-width: 950px){
        & .cancel
        {
          display: none;
        }
      }
    }

    & button
    {
      width: 50%;
      height: 40px;
      background-color: $yellow;
      color: $black;
      border: 0;
      border-radius: 10px;
      font-family: 'Gilroy Medium';
      cursor: pointer;
      font-size: 12px;
      transition: 0.3s;
      
      @media screen and (max-width: 950px){
        width: 100%;
        font-family: 'Gilroy Bold';
      }

      &:hover
      {
        opacity: 0.8;
      }
    }

    & .metamask
    {
      background-color: $orange;
      color: $white;
    }

    & .cancel
    {
      background-color: unset;
      color: $white;
    }

    & .switches
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white-25;
      border: 1px solid $white-50;
      border-radius: 12px;
      height: 40px;
      min-height: 40px;
      font-size: 12px;
      width: 235px;
      margin: 0 auto;
      margin-top: 20px;

      & .switch
      {
        color: $white;
        padding: 10px;
        margin: 0 2px;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Gilroy Medium';
      }

      & .active
      {
        color: $black;
        background-color: $yellow;
        padding: 10px;
      }
    }

    & input
    {
      margin-top: 10px;
      margin-bottom: $default-padding;
      height: 38px;
      border-radius: 5px;
      border: 1px solid $white-25;
      background-color: $white-10;
      color: $white;
      padding: 10px;
      font-family: 'Gilroy';
      font-size: 12px;

      &:-internal-autofill-selected
      {
        background-color: black !important;
      }

      &::placeholder
      {
        color: $white-50;
      }

      &:focus-within, :focus-visible
      {
        outline: 0;
      }
    }

    & select
    {
      height: 38px;
      border-radius: 5px;
      border: 1px solid $white-25;
      background-color: $white-10;
      color: $white;
      padding: 10px 25px 10px 10px;
      font-family: 'Gilroy';
      font-size: 12px;

      appearance: none;
      background-image: url("@/assets/images/down.svg");
      background-repeat: no-repeat;
      background-position: center right 5px;
      background-size: 12px;

      &:-internal-autofill-selected
      {
        background-color: black !important;
      }

      &::placeholder
      {
        color: $white-50;
      }

      &:focus-within, :focus-visible
      {
        outline: 0;
      }
    }

    & label
    {
      font-size: 12px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        font-family: 'Gilroy Bold';
      }
    }
  }

  & .window
  {
    &-buy
    {
      @media screen and (max-width: 950px){
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      padding-top: 20px;

      & .buyAmount, .payAmount
      {
        & select
        {
          margin-left: 10px;
        }
      }

      & .payAmount
      {
        padding-top: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
      }

      & .buyAmount
      {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 10px;
      }

      & .max
      {
        height: 38px;
        background-color: $red;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        margin-left: 7px;
        cursor: pointer;
        transition: 0.3s;
        @media screen and (max-width: 950px){
          font-family: 'Gilroy Bold';
        }

        &:hover
        {
          opacity: 0.8;
        }
      }

      & input
      {
        margin: 0;
        width: 100%;
      }
    }

    &-withdraw
    {
      @media screen and (max-width: 950px){
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      & .dropdowns
      {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .address
      {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        & label
        {
          padding-bottom: 10px;
        }
      }

      & .withdrawAmount
      {
        padding-top: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @media screen and (max-width: 950px){
          flex-direction: column;
        }
      }

      & .max
      {
        height: 38px;
        background-color: $red;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        margin-left: 7px;
        cursor: pointer;
        transition: 0.3s;
        @media screen and (max-width: 950px){
          width: 100%;
          margin-left: 0;
          margin-top: 10px;
          font-family: 'Gilroy Bold';
        }

        &:hover
        {
          opacity: 0.8;
        }
      }

      & input
      {
        margin: 0;
        width: 100%;
      }
    }

    &-deposit
    {
      @media screen and (max-width: 950px){
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      & .dropdowns
      {
        margin: -5px -5px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & select
        {
          margin: 5px 5px;
        }
      }

      & .address
      {
        display: flex;
        align-items: center;
        @media screen and (max-width: 950px){
          flex-direction: column;
        }
      }

      & .copy
      {
        height: 38px;
        background-color: $green;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        margin-left: 7px;
        cursor: pointer;
        @media screen and (max-width: 950px){
          width: 100%;
          margin-left: 0;
          margin-top: 10px;
          font-family: 'Gilroy Bold';
        }
      }

      & input
      {
        margin: 0;
        width: 100%;
      }

      & .qrcode
      {
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        max-height: 160px;
        width: 160px;
        border-radius: 5px;
        margin: 20px auto;
      }

      & .notes
      {
        font-size: 16px;
        color: $white-50;
        line-height: 150%;
        margin-bottom: 40px;
      }
    }
  }

  & .wrapper
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(150px);
    border-radius: 10px;
    max-width: 560px;
    width: 100%;
    background-color: $white-10;
    border: 1px solid $white-50;
    
    @media screen and (max-width: 950px){
      top: 0;
      left: 0;
      transform: unset;
      max-width: unset;
      height: 100%;
      // max-height: fit-content;
      border-radius: 0;
      border: 0;
      background-color: $bg-color;
      backdrop-filter: unset;

      &::after
      {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
      }
    }
  }

  & .close
  {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    align-items: center;

    & img
    {
      transform: rotate(180deg);
      height: 12px;
      margin-left: 10px;
    }

    &-desktop
    {
      display:flex;
      @media screen and (max-width: 950px){
        display: none;
      }
    }

    &-mobile
    {
      display:none;
      @media screen and (max-width: 950px){
        display: flex;
        font-family: "Gilroy Bold";
        margin-top: $default-padding;
      }
      width: unset !important;
    }
  }
}

</style>
