<template>
  <div>
    <Nuxt/>
  </div>
</template>

<script>
export default {
  mounted() {
  }
}
</script>

<style lang="scss">

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

html, body {
  overflow-x: hidden;
  background-color: $bg-color;
  color: $white;
  font-family: 'Gilroy';
  min-height: 100vh;
}
</style>
