<template>
  <div class="esportsPage">
    <div class="menu-padding">
      <NavMobileTopBar />
      <GeneralHero
        :text="heroText"
        banner="esports.png"
        currentGame="FIFA 2022"
        firstButton
        firstButtonLink="/"
        firstButtonName="Stake Now"
        class="mobileheight"
      />
      <TablesLiveEvents
        name="Active Stakes"
        :pageSize="100"
        :events="activeEvents"
        v-if="activeEvents.length > 0"
      />
      <TablesLiveEvents :events="events" name="Live Events" :pageSize="7" type="esports" />
    </div>
    <NavSideBar />
    <NavMobileBottomNav />
  </div>
</template>

<script>
export default {
  data () {
    return {
      heroText: 'Stake on eSports teams and players to win crypto',
    }
  },
  computed: {
    activeEvents () {
      return this.$store.state.user.esports.eventsActive
    },
    events () {
      return this.$store.state.events.esports.events
    }
  },
  mounted() {
  },
  name: "esportsPage"
}
</script>

<style lang="scss" scoped>
.menu-padding
{
  margin-left: calc(#{$side-menu-width} + (#{$default-padding} * 2));
  margin-bottom: $default-padding;
    
  @media screen and (max-width: 1150px){
    margin-left: calc(#{$side-menu-width-mobile} + (#{$default-padding} * 2));
  }
    
  @media screen and (max-width: 950px){
    margin-bottom: $mobile-bottom-padding;
    margin-left: $default-padding;
  }
}

.mobileheight
{
  @media screen and (max-width: 950px){
    height: 233px !important;
  }
}
</style>
