<template>
  <div class="LivePage">
    <div class="menu-padding">
      <NavMobileTopBar />
      <GeneralHero
        :text="heroText"
        banner="livehero.png"
        currentGame="FIFA 2022"
        firstButton
        firstButtonLink="/"
        firstButtonName="Stake Now"
        class="mobileheight"
      />
      <TablesLiveEvents
        name="Active Stakes"
        :pageSize="100"
        :events="activeEvents"
        v-if="activeEvents.length > 0"
      />
      <TablesLiveEvents name="Live Events" :pageSize="7" :events="events" type="live"/>
    </div>
    <NavSideBar />
    <NavMobileBottomNav />
  </div>
</template>

<script>
export default {
  data () {
    return {
      heroText: 'Stake on your favourite streamers and win crypto',
    }
  },
  computed: {
    activeEvents () {
      return this.$store.state.user.live.eventsActive
    },
    events () {
      return this.$store.state.events.live.events
    }
  },
  mounted() {
  },
  name: "LivePage"
}
</script>

<style lang="scss" scoped>
.menu-padding
{
  margin-left: calc(#{$side-menu-width} + (#{$default-padding} * 2));
  margin-bottom: $default-padding;
    
  @media screen and (max-width: 1150px){
    margin-left: calc(#{$side-menu-width-mobile} + (#{$default-padding} * 2));
  }
    
  @media screen and (max-width: 950px){
    margin-bottom: $mobile-bottom-padding;
    margin-left: $default-padding;
  }
}

.mobileheight
{
  @media screen and (max-width: 950px){
    height: 233px !important;
  }
}
</style>
