<template>
  <div class="PVPPage">
    <div class="menu-padding">
      <NavMobileTopBar />
      <GeneralHero
        :text="heroText"
        banner="pvphero.png"
        currentGame="FIFA 2022"
        isPVP
        firstButton
        firstButtonLink="/"
        firstButtonName="Create Match"
        class="mobileheight"
      />
      <TablesJoinPVPMatch :events="activeEvents" :pageSize="100" name="Active Matches" />
      <TablesJoinPVPMatch :events="disputesEvents" :pageSize="100" name="Disputes"/>
      <TablesJoinPVPMatch :events="events"/>
    </div>
    <NavSideBar />
    <NavMobileBottomNav />
  </div>
</template>

<script>
export default {
  data () {
    return {
      heroText: 'Play against other players and win crypto',
    }
  },
  computed: {
    activeEvents () {
      return this.$store.state.user.pvp.activeEvents
    },
    disputesEvents () {
      return this.$store.state.user.pvp.disputesEvents
    },
    events () {
      return this.$store.state.events.pvp.events
    }
  },
  mounted() {
  },
  name: "PVPPage"
}
</script>

<style lang="scss" scoped>
.menu-padding
{
  margin-left: calc(#{$side-menu-width} + (#{$default-padding} * 2));
  margin-bottom: $default-padding;
    
  @media screen and (max-width: 1150px){
    margin-left: calc(#{$side-menu-width-mobile} + (#{$default-padding} * 2));
  }
    
  @media screen and (max-width: 950px){
    margin-bottom: $mobile-bottom-padding;
    margin-left: $default-padding;
  }
}

.mobileheight
{
  @media screen and (max-width: 950px){
    height: 233px !important;
  }
}
</style>
