<template>
  <div class="HomePage">
    <NavSideBar />
    <NavMobileBottomNav />
    <div class="menu-padding">
      <NavMobileTopBar />
      <div class="title-row">
        <h1 :class="chosen == 'stakes' ? 'active' : ''" @click="chosen = 'stakes'">My Stackes</h1>
        <h1 :class="chosen == 'settings' ? 'active' : ''" @click="chosen = 'settings'">Settings</h1>
      </div>
      <TablesMyStackes v-if="chosen == 'stakes'" />
      <SettingsAccountSettings v-if="chosen == 'settings'" />
    </div>
  </div>
</template>

<script>
export default {
  name: "MyStackes",
  data () {
    return {
      chosen: 'stakes'
    }
  }
}
</script>

<style lang="scss" scoped>

  .title-row
  {
    display: flex;
    align-items: center;
    margin-top: $default-padding;

    & h1
    {
      font-size: 24px;
      font-family: 'Gilroy Medium';
      margin-right: 20px;

      &.active
      {
        color: $yellow;
      }
    }
  }

.menu-padding
{
  margin-left: calc(#{$side-menu-width} + (#{$default-padding} * 2));
  margin-bottom: $default-padding;
    
  @media screen and (max-width: 1150px){
    margin-left: calc(#{$side-menu-width-mobile} + (#{$default-padding} * 2));
  }
    
  @media screen and (max-width: 950px){
    margin-left: $default-padding;
    margin-bottom: $mobile-bottom-padding;
  }
}
</style>
