<template>
  <div class="HomePage">
    <div class="menu-padding">
      <NavMobileTopBar />
      <GeneralHero
        :text="heroText"
        banner="hero1.jpg"
        secondButton
        secondButtonLink="/pvp"
        secondButtonName="Play PVP"
        firstButton
        firstButtonLink="/live"
        firstButtonName="Stake Live"
        class="mobileheight"
      />
      <TablesLiveEvents :events="events" type="live"/>
      <TablesJoinPVPMatch :events="PVPevents" />
    </div>
    <NavSideBar />
    <NavMobileBottomNav />
  </div>
</template>

<script>
export default {
  data () {
    return {
      heroText: `<span class="yellowSpan">Stake</span> on your favorite streamers and battle with other players <span class="yellowSpan">to win money</span>`
    }
  },
  computed: {
    events () {
      return this.$store.state.events.dashboard.live.events
    },
    PVPevents () {
      return this.$store.state.events.dashboard.pvp.events
    }
  },
  name: "IndexPage"
}
</script>

<style lang="scss" scoped>
.menu-padding
{
  margin-left: calc(#{$side-menu-width} + (#{$default-padding} * 2));
  margin-bottom: $default-padding;
    
  @media screen and (max-width: 1150px){
    margin-left: calc(#{$side-menu-width-mobile} + (#{$default-padding} * 2));
  }
    
  @media screen and (max-width: 950px){
    margin-left: $default-padding;
    margin-bottom: $mobile-bottom-padding;
  }
}

.mobileheight
{
  @media screen and (max-width: 950px){
    height: 291px !important;
  }
}
</style>
