<template>
  <div class="HomePage">
    <NavSideBar />
    <NavMobileBottomNav />
    <div class="menu-padding">
      <NavMobileTopBar />
      <TablesMyStackes />
    </div>
  </div>
</template>

<script>
export default {
  name: "MyStackes"
}
</script>

<style lang="scss" scoped>
.menu-padding
{
  margin-left: calc(#{$side-menu-width} + (#{$default-padding} * 2));
  margin-bottom: $default-padding;
    
  @media screen and (max-width: 1150px){
    margin-left: calc(#{$side-menu-width-mobile} + (#{$default-padding} * 2));
  }
    
  @media screen and (max-width: 950px){
    margin-left: $default-padding;
    margin-bottom: $mobile-bottom-padding;
  }
}
</style>
