<template>
  <div class="AccountSettings">
    <h1>Account Settings</h1>
    <div class="wrapper">
      <form @submit.prevent>
        <label for="name">Name:</label>
        <input class=" cursor-active" :value="userInfo.name" placeholder="Enter Your Name" type="text" id="name" name="name">

        <label for="username">Username:</label>
        <input class=" cursor-active" :value="userInfo.username" placeholder="Enter Your Username" type="text" id="username" name="username">

        <label for="email">Email:</label>
        <input class=" cursor-active" :value="userInfo.email" placeholder="Enter Your Email" type="text" id="email" name="email">

        <label for="password">Password:</label>
        <input class=" cursor-active" :value="userInfo.password" placeholder="Enter Your Password" type="password" id="password" name="password">
        
        <div class="button-collection">
          <button class=" cursor-active">Save</button>
          <button class="cancel cursor-active" @click="reloadPage">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountSettings',
  data () {
    return {
    }
  },
  computed: {
    userInfo () {
      return {
        name: this.$store.state.user.name,
        username: this.$store.state.user.username,
        email: this.$store.state.user.email,
        password: this.$store.state.user.password
      }
    }
  },
  methods: {
    reloadPage() {
      window.location.reload();
    }
  }
}
</script>

<style scoped lang="scss">

.AccountSettings
{
  margin-top: $default-padding;
  width: calc(100% - #{$default-padding});

  & .wrapper
  {
    background-color: $white-10;
    border-radius: 15px;
    border: 1px solid $white-50;
    margin-top: $default-padding;
    box-shadow: $shadow;
    padding-top: 20px;
    @media screen and (max-width: 950px){
      border-radius: 10px;
    }

    & form
    {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-width: 400px;
      padding: 0 $default-padding;
      padding-bottom: $default-padding;
    }

    & .button-collection
    {
      display: flex;
      margin-top: 20px;
      @media screen and (max-width: 950px){
        flex-direction: row-reverse;
      }
    }

    & button
    {
      width: 50%;
      height: 40px;
      background-color: $yellow;
      color: $black;
      border: 0;
      border-radius: 10px;
      font-family: 'Gilroy Bold';
      cursor: pointer;
    }

    & .cancel
    {
      background-color: unset;
      color: $white;
    }

    & input
    {
      margin-top: 10px;
      margin-bottom: $default-padding;
      height: 38px;
      border-radius: 5px;
      border: 1px solid $white-25;
      background-color: $white-10;
      color: $white;
      padding: 10px;
      font-family: 'Gilroy';
      font-size: 12px;

      &:-internal-autofill-selected
      {
        background-color: black !important;
      }

      &::placeholder
      {
        color: $white-50;
      }

      &:focus-within, :focus-visible
      {
        outline: 0;
      }
    }

    & label
    {
      font-size: 12px;
      font-family: 'Gilroy Medium';
      @media screen and (max-width: 950px){
        font-family: 'Gilroy Bold';
      }
    }
  }

  & h1
  {
    font-size: 30px;
    font-family: 'Gilroy Medium';
    @media screen and (max-width: 950px){
      display: none;
    }
  }
}

</style>
