<template>
  <div class="bottom-wrapper">
    <div class="MobileBottomBar background">
      <div v-for="menu in menu" :key="menu.title" class="item" :id="menu.title.replace(/\s/g, '')">
        <NuxtLink :to="menu.link.url" v-if="menu.link.type == 'internal'">
          <div class="notification" v-if="menu.notifications">
            {{menu.notifications}}
          </div>
          <img class="icon" :src="require(`@/assets/images/${menu.icon}`)">
          {{menu.title}}
        </NuxtLink>
        <a target="_blank" :href="menu.link.url" v-else>
          <img class="icon" :src="require(`@/assets/images/${menu.icon}`)">
          {{menu.title}}
        </a>
      </div>
    </div>
    <div class="gradient"></div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  methods: {
  },
  computed: {
    getUserEmail () {
      return this.$store.state.user.email
    },
    getUserBalance () {
      return this.$store.state.user.accountBalance
    },
    menu () {
      return this.$store.state.menus.mobileMenu
    },
  },
  data() {
    return {
      open: false,
      showModalAccount: false,
      showModalWallet: false,
    }
  }
}
</script>

<style scoped lang="scss">

.gradient
{
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 182px;
  background-image: url('@/assets/images/mobmenugradient.png');
  background-size: cover;
  background-position: top;
  pointer-events: none;
}

.MobileBottomBar
{
  display: none;
  margin-top: $default-padding;
  width: calc(100% - (#{$default-padding} * 2));
  height: 80px;
  border-radius: 10px;
  border: 1px solid $white-25;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  bottom: $default-padding;
  left: $default-padding;
  box-shadow: 0px -30px 50px rgba(23, 26, 32, 1), 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  background-color: $white-10;

  // &.background
  // {
  //   background-image: url('@/assets/images/mobmenugradient.png');
  //   background-size: cover;
  // }

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none))
  {
    &.background
    {
      backdrop-filter: blur(20px);
      background-image: none;
    }
  }
    
  @media screen and (max-width: 950px){
    display: flex;
  }

  & .item {
    display: flex;
    justify-content: center;
    width: 100%;

    & .notification
    {
      background-color: $red;
      height: 15px;
      width: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 8px;
    }

    & a
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      position: relative;

      & img
      {
        margin-bottom: 10px;
        width: 24px;
        height: 24px;
      }
    }
  }
  
}
</style>
