<template>
  <div class="MobileTopBar">
    <NuxtLink to="/">
      <!-- <img class="logo" src="@/assets/images/logo.svg" /> -->
    </NuxtLink>
    <div>

      <div class="deposit" v-if="getUserEmail">
        <!-- Do the number only check -->
        <div class="walletAmount">
          <p>{{getUserBalance.amount}} {{getUserBalance.currency}}</p>
        </div>
        <div @click="showModalWallet = true" class="submit-deposit">
          <img src="@/assets/images/bank.svg" />
        </div>
        <PopupsWallet v-show="showModalWallet" @close-modal="showModalWallet = false" />
      </div>

      <div class="deposit" v-else>
        <div @click="showModalAccount = true" class="create-account">
          Create Account
        </div>
        <PopupsCreateAccount v-show="showModalAccount" @close-modal="showModalAccount = false" />
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showModalAccount: false,
      showModalWallet: false,
    }
  },
  methods: {
  },
  computed: {
    getUserEmail () {
      return this.$store.state.user.email
    },
    getUserBalance () {
      return this.$store.state.user.accountBalance
    },
  }
}
</script>

<style lang="scss" scoped>

.MobileTopBar
{
  margin-top: $default-padding;
  width: calc(100% - #{$default-padding});
  height: 65px;
  background-color: $white-10;
  border-radius: 10px;
  border: 1px solid $white-50;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
    
  @media screen and (max-width: 950px){
    display: flex;
  }

  & .logo
  {
    max-width: 105px;
    width: 100%;
  }

  & .deposit
  {
    height: 45px;
    display: flex;
    padding: 0;

    & .submit-deposit, .create-account
    {
      background-color: $yellow;
      color: $black;
      font-size: 12px;
      padding: 0 20px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: 'Gilroy Bold';
      transition: 0.3s;
      cursor: pointer;
      margin-left: 5px;

      &:hover
      {
        opacity: 0.8;
      }
    }

    & .submit-deposit
    {
      padding: 0 10px;
    }

    & .create-account
    {
      width: 100%;
    }
    
    & .walletAmount
    {
      height: 100%;
      background-color: $dark-main;
      border: 0;
      border-radius: 10px;
      width: 120px;
      padding-left: 10px;
      color: $white-50;
      font-family: 'Gilroy Medium';
      font-size: 12px;
      line-height: 12px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: left;

      &:focus-visible
      {
        outline: 0;
      }
    }
  }
}

</style>