<template>
  <div class="side-bar">
    <div class="wrapper">
      <div class="wrapper-topPart">
        <NuxtLink to="/" class="cursor-active">
          <!-- <img class="logo" src="@/assets/images/logo.svg"/> -->
        </NuxtLink>
        <div class="GamesMenu MenuColumn">
          <div v-for="menu in menu" :key="menu.title">
            <h2 class="main-title">{{menu.title}}</h2>
            <div v-for="submenu in menu.submenus" :key="submenu.title">

              <!-- Internal Links -->
              <Nuxt-Link :id="submenu.title.replace(/\s/g, '')" v-if="submenu.link ? submenu.link.type === 'internal' : false" :to="submenu.link.url" class="submenu-first cursor-active">
                <div class="naming">
                  <img class="icon" :src="require(`@/assets/images/${submenu.icon}`)">
                  <p>{{submenu.title}}</p>
                </div>
                <div class="interaction">
                  <p v-if="submenu.notifications" class="notification">{{submenu.notifications}}</p>
                </div>
              </Nuxt-Link>

              <!-- External Links -->
              <a :id="submenu.title.replace(/\s/g, '')" v-else-if="submenu.link ? submenu.link.type === 'external' : false" target="_blank" :href="submenu.link.url" class="submenu-first cursor-active">
                <div class="naming">
                  <img class="icon" :src="require(`@/assets/images/${submenu.icon}`)">
                  <p>{{submenu.title}}</p>
                </div>
                <div class="interaction">
                  <p v-if="submenu.notifications" class="notification">{{submenu.notifications}}</p>
                </div>
              </a>

              <!-- Dropdown Menus -->
              <div v-else-if="submenu.submenuLinks" :id="submenu.title.replace(/\s/g, '')" class="submenuLinks"  @click="dropdown(submenu.title)">
                <div class="submenu-first cursor-active">
                  <NuxtLink :to="submenu.link" event="" class="naming">
                    <img class="icon" :src="require(`@/assets/images/${submenu.icon}`)">
                    <p>{{submenu.title}}</p>
                  </NuxtLink>
                  <div class="interaction">
                    <span v-if="submenu.notifications" class="notification notification-inline">{{submenu.notifications}}</span>
                    <p v-if="submenu.submenuLinks" class="">
                      <img class="dropdown-arrow" src="@/assets/images/dropdown.svg"/>
                    </p>
                  </div>
                </div>
                <div class="game-titles" :ref="'submenu' + submenu.title">
                  <div class="title-wrapper">
                    <div class="title" v-for="links in submenu.submenuLinks" :key="links.title">
                      <NuxtLink :to="links.link" class="cursor-active">{{links.title}}</NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Deposit Button -->
      <div class="deposit" v-if="getUserEmail">
        <!-- Do the number only check -->
        <div class="walletAmount">
          {{getUserBalance.amount}} {{getUserBalance.currency}}
        </div>
        <div @click="showModalWallet = true" class="submit-deposit cursor-active">
          Deposit
        </div>
        <PopupsWallet v-show="showModalWallet" @close-modal="showModalWallet = false" />
      </div>

      <!-- Create Account Button -->
      <div class="deposit" v-else>
        <div @click="showModalAccount = true" class="create-account cursor-active">
          Create Account
        </div>
        <PopupsCreateAccount v-show="showModalAccount" @close-modal="showModalAccount = false" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  methods: {
    // Add dropdown functionality
    dropdown (id) {
      if(document.getElementById(id).classList.contains("submenuLinks-active")) {
        return document.getElementById(id).classList.remove("submenuLinks-active")
      } else {
        return document.getElementById(id).classList.add("submenuLinks-active")
      }
    },
    submitDeposit () {
      // Submit input here
    }
  },
  computed: {
    getUserEmail () {
      return this.$store.state.user.email
    },
    getUserBalance () {
      return this.$store.state.user.accountBalance
    },
    menu () {
      return this.$store.state.menus.desktopMenu
    },
  },
  data() {
    return {
      open: false,
      showModalAccount: false,
      showModalWallet: false,
    }
  }
}
</script>

<style scoped lang="scss">
  .deposit
  {
    margin: $default-padding;
    height: 60px;
    display: flex;

    & .submit-deposit, .create-account
    {
      background-color: $yellow;
      color: $black;
      width: 50%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: 'Gilroy Bold';
      transition: 0.3s;
      cursor: pointer;
      margin-left: 5px;

      &:hover
      {
        opacity: 0.8;
      }
    }

    & .create-account
    {
      width: 100%;
    }
    
    & .walletAmount
    {
      height: 100%;
      background-color: $dark-main;
      border: 0;
      border-radius: 10px;
      padding: 10px;
      width: 50%;
      color: $white-50;
      font-family: 'Gilroy Medium';
      font-size: 16px;
      line-height: 16px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: left;

      &:focus-visible
      {
        outline: 0;
      }
    }
  }

  .side-bar
  {
    height: 100vh;
    width: calc(#{$side-menu-width} + #{$default-padding});
    position: fixed;
    top: 0;
    left: 0;
    
    @media screen and (max-width: 1150px){
      width: calc(#{$side-menu-width-mobile} + #{$default-padding});
    }
    
    @media screen and (max-width: 950px){
      display: none;
    }

    & .submenuLinks
    {
      height: calc(24px + ((#{$default-padding} / 2) * 2));
      overflow-y: hidden;

      &-active
      {
        height: 100%;

        & .dropdown-arrow
        {
          transform: rotate(-90deg);
        }
      }
    }

    & .wrapper
    {
      background-color: $white-10;
      margin-top: $default-padding;
      margin-left: $default-padding;
      height: calc(100% - (#{$default-padding} * 2));
      border: 1px solid $white-50;
      border-radius: 15px;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-topPart
      {
        max-height: calc(100% - (60px + 45px));
        display: flex;
        flex-direction: column;
      }

      & .logo
      {
        margin: 20px;
        width: 140px;
        height: auto;
      }

      & .MenuColumn
      {
        margin-left: $default-padding;
        // max-height: calc(100% - (60px + 45px));
        height: 100%;
        overflow-y: scroll;

        scrollbar-color: #32363C;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 5px;
        }
        
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: $white-25;
        }

        & .main-title
        {
          font-size: 24px;
          margin-top: $default-padding;
          margin-bottom: calc(#{$default-padding} / 2);
        }

        & .game-titles
        {
          padding-left: calc(#{$default-padding} / 2);
          // max-height: 0;
          overflow-y: hidden;

          & .title:last-child
          {
            margin-bottom: $default-padding;
          }

          & .title
          {
            position: relative;
            color: $white-50;
            margin-top: $default-padding;
            transition: 0.3s;
            list-style: none;

            &:before {
              content:"· ";
              font-size:30px;
              vertical-align:middle;
              line-height:20px;
              display: inline-block;
              margin-right: 10px;
            }

            & a
            {
              width: 80%;
              display: inline-block;
            }

            &:hover
            {
              color: $white-75;
            }
          }
        }

        & .submenu-first
        {
          padding: calc(#{$default-padding} / 2) 0;
          padding-right: $default-padding;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          & p
          {
            font-size: 16px;
          }

          & .dropdown-arrow
          {
            height: 12.5px;
            transition: 0.3s;
          }

          & .naming, .interaction
          {
            display: flex;
            align-items: center;
          }

          & .notification
          {
            color: $yellow;

            &-inline
            {
              margin-right: 10px;
              // color: $white;
            }
          }

          & .icon
          {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
        }
      }
    }
  }
</style>
