<template>
  <div class="hero">
    <img class="main-banner" :src="require(`@/assets/images/${banner}`)" />
    <img class="main-gradient" src="@/assets/images/hero-gradient.png" />
    <img class="main-smoke" src="@/assets/images/hero-smoke.png" />
    <img class="main-text" src="@/assets/images/hero-text.png" />
    <div class="hero-interaction">
      <h1 v-html="text"></h1>
      <div class="button-section">
        <div v-if="firstButton && !isPVP" @click="scroll" class="button main-button cursor-active">
          {{firstButtonName}}
        </div>
        <div @click="showModalPVP = true" v-else-if="isPVP" class="button main-button cursor-active">
          {{firstButtonName}}
        </div>
        <NuxtLink v-if="secondButton" :to="secondButtonLink" class="button secondary-button cursor-active">
          {{secondButtonName}}
        </NuxtLink>
      </div>
    </div>
    <PopupsCreatePVP :game="currentGame" v-show="showModalPVP" @close-modal="showModalPVP = false" />
  </div>
</template>

<script>
export default {
  name: 'HeroBanner',
  methods: {
    scroll() {
      window.scroll({
        top: document.querySelector('.LiveEventTable').getBoundingClientRect().top - 20,
        behavior: 'smooth'
      });
    }
  },
  data () {
    return {
      showModalPVP: false,
    }
  },
  watch: {
  },
  props: {
    currentGame: {
      type: String
    },
    banner: {
      type: String
    },
    text: {
      type: String
    },
    secondButtonName: {
      type: String
    },
    secondButtonLink: {
      type: String
    },
    secondButton: {
      type: Boolean,
      default: false
    },
    firstButtonName: {
      type: String
    },
    firstButtonLink: {
      type: String
    },
    firstButton: {
      type: Boolean,
      default: false
    },
    isPVP: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
.hero
{
  margin-top: $default-padding;
  width: calc(100% - #{$default-padding});
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid $white-50;
  position: relative;
    
  @media screen and (max-width: 950px){
    border-radius: 10px;
  }

  & .hero-interaction
  {
    position: absolute;
    top: 0;
    left: 40px;
    width: 40%;
    max-width: 465px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1150px){
      width: 65%;
      max-width: 700px;
    }
    
    @media screen and (max-width: 950px){
      width: calc(100% - (#{$default-padding} * 2));
      max-width: calc(550px - (#{$default-padding} * 2));
      left: 20px;
    }

    & h1
    {
      font-size: 36px;
      font-family: 'Gilroy Bold';
    
      @media screen and (max-width: 750px){
        font-size: 24px;
      }

      & span
      {
        color: $yellow;
      }
    }

    & .button-section
    {
      padding-top: 45px;
      display: flex;

      & .button
      {
        color: $black;
        width: 150px;
        height: 58px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Gilroy Bold';
        transition: 0.3s;
        cursor: pointer;
        margin-left: 5px;

        @media screen and (max-width: 950px){
          font-size: 16px;
          width: 100%;
        }

        &:hover
        {
          opacity: 0.8;
        }
      }

      & .main-button
      {
        background-color: $yellow;
      }

      & .secondary-button
      {
        color: $white;
        text-transform: none;
      }
    }
  }

  & .main-banner
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media screen and (max-width: 950px){
      filter: brightness(0.6);
    }
  }

  & .main-gradient
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .main-smoke
  {
    width: 45%;
    height: 100%;
    object-fit: fill;
    object-position: bottom;
    position: absolute;
    top: 0;
    right: 0;
    mix-blend-mode: screen;
    
    @media screen and (max-width: 950px){
      display: none;
    }
  }

  & .main-text
  {
    width: 118px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 15px;
    
    @media screen and (max-width: 950px){
      display: none;
    }
  }
}
</style>
